<div class="login-background">
	<div class="login-form-contain">
	    <form class="login-form">
	    	<svg class="riskbone-logo">
        		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#riskbone-logo-full"></use>
    		</svg>
	        <input data-map-to="username" placeholder='Email'>
	        <input data-map-to="password" type='password' placeholder='Password'>
	        <button class='submit' type='submit' value='submit'>Log In</button>
	    </form>
	</div>
</div>