<div class="abs window_inner">
    {{> partials/windowPartial }}
    <div class="abs window_content">

        <div class='file-menu'>
            <ul>
                <li> File </li>
                <li> Edit </li>
                <li> View </li>
                <li> Favorites </li>
                <li> Tools </li>
                <li> Help </li>
            </ul>
        </div>
        <div class='nav-menu'>
            <ul>
                <li> Back </li>
                <li> Forward </li>
                <li> Up </li>
                <li> Search </li>
                <li> Folders </li>
                <li> Views </li>
            </ul>
        </div>
        <div class='address-bar'>
            <ul>
                <li> Address: </li>
                <li> <input placeholder='Address' /> </li>
                <li> Go </li>
                <li> Links  </li>
            </ul>
        </div>
        <div class='left-side'>

        </div>{{!--
         --}}<div class='right-side'>

        </div>

    </div>
</div>