<div class="abs window_inner">
    {{> partials/windowPartial }}

    <div class="abs window_content">
    	<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=41.8369&lon=87.6847&name=Chicago"> </iframe>
    </div>

</div>