<div class='start-wrapper'>
    <div class="start-icon"> <span>Start</span> </div>
    <div class='start-menu'>
        <div class='user'>
            <span>User</span>
        </div>
        <div class='inner'>{{!--
        --}}<ul class='left-list'>
                <li> Program 1 </li>
                <li> Program 2 </li>
                <li> Program 3 </li>

                <li> Program 4 </li>
                <li> Program 5 </li>
                <li> Program 6 </li>

                <li> All Programs </li>
            </ul>{{!--

        --}}<ul class='right-list'>
                <li> My Documents </li>
                <li> My Computer </li>
                <li> Control Panel </li>
                <li> Set Program Access and Defaults </li>
                <li> Help and Support </li>
                <li> Search </li>
                <li> Run </li>
            </ul>{{!--

    --}}</div>
        <div class='power'>
            <span> Log Off </span>
            <span> Turn Off Computer </span>
        </div>

    </div>
</div>
<div class="taskbar-dock">
    <div class='dock-windows'> </div>
    <div class="notification-area"></div>
</div>